<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: : 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>

  <p>Bem vindo A Mindset!</p>
  <p>Sua conta foi criada com sucesso</p>
  <p>https://mindset-front-polijunior.vercel.app/login</p>

  <p>Caso não seja você que tenha feito o cadastro, ignore esse email.</p>
  <p>
    Atenciosamente,
    <strong>Equipe MindSet</strong>
  </p>
</div>