<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: : 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<script>
  const btn = document.getElementById('changePassword');
  const url = `www.compensas.com/forgot?code=${code}`
  btn.addEventListener(() => open());
</script>

<div class="message-content">
  <p>Hello, {{name}}</p>

  <p>You request the password recovery!</p>

  <p>Click on this <a href="https://www.compensas.com.br/forgot?code={{code}}" onclick="window.open(this.href, '_blank'); return false;">link</a> to change your password.</p>

    Yours sincerely,<br>
    <strong>Compensas</strong>
  </p>
</div>
